<app-navbar></app-navbar>
<div class="searchInput">
  <div class="child">
    <label for="storeFinderInput" class="col-sm-12 control-label text-center"></label>
    <div class="col-sm-12 text-center">
      <div class="description">
        <h1>ZW Store Finder</h1>
        <hr/>
        <span id="sub-title">Helping you save the environment one search at a time</span>
      </div>
      <div class="query">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="input-group">
              <div class="input-group-prepend">
                  <div class="input-group-prepend">
                      <div class="input-group-text"> <i class="fas fa-shopping-basket"></i></div>
                    </div>
              </div>
              <input id="search-input" type="text" name="storeFinderInput" [(ngModel)]="query" class="form-control" placeholder="Enter Store name or Product"
                required>
            </div>
          </div>
          <div class="col-sm-12 col-md-4" id="location-input">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fas fa-location-arrow"></i>
                </span>
              </div>
              <input type="text" id="searchLocal" name="searchLocal" [(ngModel)]="searchLocal" class="form-control input-lg" placeholder="Enter City Name"
                required>
            </div>
          </div>
          <div id="search-btn-container" class="col-sm-12 col-md-3 text-left">
            <button type="button" class="btn btn-search btn-block" [routerLink]="['/search']" [queryParams]="{query: query, location: searchLocal, lat: navigatorPosition?.lat, lng: navigatorPosition?.lng}">Find Stores</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="aboutSection">
  <app-about></app-about>
</section>
<section>
  <app-footer></app-footer>
</section>