.description h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.description hr {
  width: 150px;
  height: 1px;
  border-top: 3px solid #40A497;
}

#sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

#storeQueryField {
  margin-bottom: 10px;
}

.query {
  max-width: 900px;
  margin: 40px auto;
}

.query input {
  height: 55px;
  border: 0px;
  border-radius: 3px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 20px;
}

.btn-search {
  height: 55px;
  padding: 0px 50px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  background-color: #40A497;
}

.btn-search:hover {
  cursor: pointer;
  background-color: rgb(57, 146, 134);
}

.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

.child {
  resize: vertical;
}

.form-control {
  border-radius: 0 !important;
}

#search-input {
  padding-right: 0 !important;
}

#location-input {
  padding-left: 0 !important;
  border-left: 1px solid #40A497;
}

#aboutSection{
  background-color: white;
  color:#333;
  padding: 50px 0;
}

@media(max-width: 576px){
  #location-input, #search-btn-container{
    border-left: none;
    margin-top: 20px;
    padding-left: 15px !important;
    padding-right: 0px;
  }
}