<div class="container" id="about">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>About Zero Waste</h1>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let question of questions" class="col">
      <h2>{{question.question}}</h2>
      <p>
        {{question.answer}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2>Useful Zero waste links</h2>
    </div>
    <div class="col">
      <a href="https://www.facebook.com/groups/zerowasteireland/?ref=br_rs">Zero Waste Ireland</a>
    </div>
    <div class="col">
      <a href="https://www.facebook.com/groups/journeytozerowaste/">Journey to Zero Waste</a>
    </div>
  </div>
</div>
