<nav class="navbar navbar-expand-lg navbar-light navbar-dark" style="background:transparent;height: 5vh">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container" style="padding-top:20px">
    <h1>ZW Store Finder</h1>
    <a class="btn btn-outline-success" [routerLink]="['/about']">About</a>
  </div>
</nav>
