.sebm-google-map-container {
  height: 500px;
}
 #buttons {
   padding-top: 10px;
   padding-bottom: 10px;
 }

#noResults {
  padding-top: 50px;
}

#storeQueryField {
  margin-bottom: 10px;
}

.btn-success {
  background-color: #40A497;
}


.well{
  background-color: #FFFFFF;
  box-shadow: -5px 5px 5px #888888;
}

#query{
  margin-top: 25px;
}