.sebm-google-map-container {
  height: 300px;
}
 #buttons {
   padding-top: 10px;
   padding-bottom: 10px;
 }

#noResults {
  padding-top: 50px;
}

#storeQueryField {
  margin-bottom: 10px;
}

.btn-success {
  background-color: #33b833;
}
