<div class="form-group">
  <label for="storeFinderInput" class="col-sm-12 control-label text-center"></label>
  <div class="col-sm-12">
    <input type="text" name="storeFinderInput" [(ngModel)]="query" (ngModelChange)="searchStores()" class="form-control text-center" placeholder="Type Store name or Location e.g. 'Dublin 7'" required>
  </div>
</div>
<!-- *ngIF && stores.length > 0 -->
<div id="stores"  *ngIf="query != ''">
  <div class="row" *ngFor="let store of stores">
    <div class="col-sm-12">
      <div class="well">
        <h4>{{store.name}}</h4>
        <p>Address: {{store.address}}</p>
        <p>Zero Waste products: {{store.products}}</p>
        <a class="btn btn-sm btn-primary"[routerLink]="['/store', store.id]">More information</a>
      </div>
    </div>
  </div>
</div>
<div id="noResults" class="text-center" *ngIf="stores.length == 0 && query.length > 0">
  <h4>No Results found</h4>
</div>
<div class="row">
  <div id="buttons" class="col-sm-12 text-center">
    <button id="mapBtn" (click)="toggleMap()" class="btn btn-default">{{btnText}}</button>
  </div>
</div>

<div class="row" *ngIf="showStoresOnMap">
  <!-- <div id="test">
    <div id="floating-panel" class="well" *ngIf="place?.name">
      <span>{{place?.name}}</span>
      <br/>
      <img src="https://cdn.pixabay.com/photo/2014/04/03/10/03/google-309739_960_720.png" alt="Smiley face" height="32" width="32">
      <span>{{place?.formatted_address}}</span>
      <p>Opening Hours:</p>
      <ul>
        <li *ngFor="let entry of place?.opening_hours.weekday_text">{{entry}}</li>
      </ul>
    </div>
  </div> -->
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
    <app-map></app-map>
  </sebm-google-map>
</div>
