.badge{
  font-size: 25px;
}

.panel-heading {
  border-bottom: 2px solid #f5f5f5;
  background-color: white !important;
}

.well {
  background-color: white !important;
  border: 2px solid #f5f5f5;
}

.storeButton {
  color: blue;
}

.storeButton:hover{
    text-decoration: underline;
}

.badge{
  font-size: 15px;
}