<div class="row">
<div class="panel panel-default">
  <h3 class="panel-heading text-center"> <span class="glyphicon glyphicon-cog blueIcon" aria-hidden="true"></span> Admin Dashboard</h3>
  <div class="panel-body">
    <div class="col-sm-6">
      <div class="well">
        <h3>Stores: <span class="badge">{{stores.length}}</span></h3>
        <input type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="filterStores()" placeholder="Filter" value="{{filter}}">
        <div class="list-group-item" *ngFor="let store of stores; let i = index">
          <span id="closeButton"><button (click)="deleteStore(store.id, i)" class="btn btn-danger">X</button></span>
          <button class="storeButton btn btn-link" data-toggle="collapse" [attr.data-target]="'#storeInfo'+i" >{{store.name}}</button>
          <div [attr.id]="'storeInfo'+i" class="panel-collapse collapse">
            <div id="products" class="panel-body">
              <span>Zero waste Products:</span>
              <input type="text" [attr.id]="'products'+i" name="products" value="{{store.products}}" class="form-control" required>
              <button class="btn btn-success" (click)="updateStore(store, i)" href="#">Update Store</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <h3>Messages:<span class="badge">{{messages.length}}</span></h3>
          <div *ngFor="let message of messages; let i = index" class="list-group-item">
            <span id="closeButton"><button (click)="deleteMessage(message._id, i)" class="btn btn-danger">X</button></span>
            <a data-toggle="collapse" [attr.data-target]="'#messageInfo'+i" >{{message.subject}}</a>
            <div [attr.id]="'messageInfo'+i" class="panel-collapse collapse">
              <div id="products" class="panel-body">
                <span>Name: {{message.name}}</span>
                <p>Email: <a href="mailto:{{message.email}}">{{message.email}}</a></p>
                <p>Message: {{message.message}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
