footer{
    width:100%;
    min-height:5%;
    background-color: #33b833;
    color: #FFF;
    font-size: 17px;
}

#githubButton{
  background-color: #FFF;
  color: rgb(102,43,129);
}

#emailButton{
  background-color: #FFF;
  color: rgb(0,168,236);
}

.navbar-inverse {
  background-color: #33b833;
  font-size: 17px;
}

.clear { clear: both; height: 60px; }
