footer{
    width:100%;
    min-height:5%;
    background-color: #33b833;
    color: #FFF;
    font-size: 17px;
}

#githubButton{
  background-color: #FFF;
  color: rgb(102,43,129);
}

#linkedinButton{
  background-color: #FFF;
  color: rgb(0,127,178);
}

.navbar-inverse {
  background-color: #33b833;
  font-size: 17px;
}
