<div class="clear"></div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <p>Developed by Jason Lloyd </p>
      </div>
      <div class="col-sm-6 text-right" style="padding-bottom:5px;padding-top:5px;">
        <a class="btn btn-default btn-sm btn-git" href="http://github.com/thedeployguy" id ="githubButton"><i class="fa fa-github fa-2x"></i></a>
        <a class="btn btn-default btn-sm btn-mail" href="mailto:jason.lloyddev@gmail.com" id ="emailButton"><i class="fa fa-envelope fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
