footer{
    width:100%;
    min-height:5%;
    background-color: #0c84e4; /* This color gets inverted color or you can add navbar inverse class in html */
    color: #FFF;
}

#githubButton{
  background-color: #FFF;
  color: rgb(102,43,129);
}

#linkedinButton{
  background-color: #FFF;
  color: rgb(0,127,178);
}

/*#socialButtons {
  padding-bottom:5px;
  padding-top:5px;
}*/
