.sebm-google-map-container {
  height: 350px;
}

#storeLocationInput {
  margin-bottom: 20px;
}

.btn-success {
  background-color: #40A497;
}

.form-control-inline {
   width: auto;
   float: right;
   margin-right: 5px;
}

label{
  color:black;
}

h5{
  font-weight: 600;
}