<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form (submit)="onAddStoreSubmit()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center primary-bg-color">
          <h5 class="modal-title" id="exampleModalLabel">Add new store</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <h5>
                  <label for="storeLocationInput">
                    <b>Locate Store:</b>
                  </label>
                </h5>
                <div id="storeInputDiv">
                  <input type="text" id="storeLocationInput" class="form-control" [ngClass]="storeInputClasses" placeholder="Enter Store name"
                    required>
                  <div class="invalid-feedback">
                    {{errMsg}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
                  <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
                    <agm-marker [latitude]="marker?.lat" [longitude]="marker?.lng" [label]="marker?.label" [markerDraggable]="marker?.draggable">
                      <agm-info-window>
                        <p><strong>{{place?.name}}</strong></p>
                        <p>{{place?.formatted_address}}</p>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
              </div> -->
          <div *ngIf="validInput && place">
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <h5>
                    <label for="productOptions">
                      <b>Select Zero Waste products sold: </b>
                    </label>
                  </h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div *ngFor="let option of productOptions | slice:0:productOptions.length/2">
                  <label>
                    <input type="checkbox" name="options" (change)="onSelectedProduct()" value="{{option.name}}" [(ngModel)]="option.checked"
                    /> {{option.name}}
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div *ngFor="let option of productOptions | slice:(productOptions.length/2)+1:productOptions.length">
                  <label>
                    <input type="checkbox" name="options" (change)="onSelectedProduct()" value="{{option.name}}" [(ngModel)]="option.checked"
                    /> {{option.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label for="products">
                  <b>Selected products:</b>
                  <span *ngFor="let product of selectedItems">{{product}}, </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="validInput && place && selectedItems.length > 0" type="submit" class="btn btn-success">Add Store</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div id="addStore">
    <div *ngIf="stage == 2">
      <div class="row">
        <div class="col-md-6">
          <h3><b>{{place?.name}}</b></h3>
          <img alt="store_img" src="{{image}}" />
          <h5><span class="glyphicon glyphicon-home blueIcon" aria-hidden="true"></span> <b>Address</b>: {{place?.formatted_address}}</h5>
          <h5><span class="glyphicon glyphicon-phone blueIcon" aria-hidden="true"></span> <b>Phone Number</b>: {{place?.formatted_phone_number}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <label for="products"><b>Other products:</b></label>
          </div>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="otherItems" name="otherItems" placeholder="Other products not in list" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <h5>Store not found on google maps? <a [routerLink]="['/contact']">Contact us!</a></h5>
        </div>
    </div>
</div> -->
