<app-search-nav [userQuery]="query" [location]="location" (onInput)="onUserInput($event)"></app-search-nav>
<div class="container-fluid">
  <div class="row">
    <div class="ml-auto col-md-8 col-sm-12 mt-5 mr-auto">
      <div id="stores" *ngIf="stores.length > 0;">
        <div class="row">
            <div class="ml-auto col-sm-2 mb-3">
                <button id="mapView" class="btn btn-success primary-bg-color" [routerLink]="['/map']" [queryParams]="{lat: navigatorPosition?.lat, lng: navigatorPosition?.lng}">
                  View results on map
                </button>
            </div>
        </div>
        <div class="row" *ngFor="let store of stores">
          <div class="col-md-12">
            <app-search-item [store]="store" [dayIndex]="dayIndex"></app-search-item>
          </div>
        </div>
      </div>
      <div *ngIf="!results">
        <div class="text-center">
          <h4>No Results found</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
