<div class="row">
  <div class="col-sm-12">
    <div class="well" *ngIf="store?.name">
      <h4>Store: {{store.name}}</h4>
      <p>Address: {{store.address}}</p>
      <p>Opening Hours</p>
      <ul>
          <li *ngFor="let entry of store.openingHours">{{entry}}</li>
      </ul>
      <p>Zero Waste products: {{store.products}}</p>
      <p></p>
      <div *ngIf="marker?.lat">
        <sebm-google-map [latitude]="marker.lat" [longitude]="marker.lng" [zoom]="zoom" [zoomControl]="true">
          <sebm-google-map-marker
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [markerDraggable]="marker.draggable">

            <sebm-google-map-info-window>

            </sebm-google-map-info-window>
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
</div>
