<p>
  about works!
</p>


<h3>Donate</h3>
<p>This website was created on our free time to benefit the zero waste community
and we are happy to help out. However we are paying for the hosting and domain registration out of own pocket.</p>
<p>The current cost to run this site is [] per year. We don't like asking for money and we want to keep this site up and running for a long time so any donations would be greatly appricated</p>
<p>We completely understand that not everyone has the money to donate and we completely understand, please only donate if you can and you find the site useful. If you can't donate sharing the site with your friends would be greatly appricated</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="jaslloyd57@gmail.com">
<input type="hidden" name="lc" value="IE">
<input type="hidden" name="item_name" value="Zero Waste Store Finder">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
