<div class="row">
  <div class="col-sm-12">
    <div class="well" *ngIf="store?.name">
      <button class="btn btn-warning" (click)="goBack()"><- BACK</button>
      <h4>{{store.name}}</h4>
      <p><span class="glyphicon glyphicon-home blueIcon" aria-hidden="true"></span>  Address: {{store.address}}</p>
      <p><span class="glyphicon glyphicon-time blueIcon" aria-hidden="true"></span>  Opening Hours</p>
      <ul>
          <li *ngFor="let entry of store.openingHours">{{entry}}</li>
      </ul>
      <p><span class="glyphicon glyphicon-leaf greenIcon" aria-hidden="true"></span>  Zero Waste products: {{store.products}}</p>
      <p></p>
      <div *ngIf="marker?.lat">
        <agm-map [latitude]="marker.lat" [longitude]="marker.lng" [zoom]="zoom" [zoomControl]="true">
          <agm-marker
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [markerDraggable]="marker.draggable">
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
