<h3 class="text-center">Add new store</h3>
<form (submit)="onAddStoreSubmit()">
  <div class="form-group">
    <h5><label for="storeLocationInput"><b>Locate Store</b></label></h5>
    <input type="text" id="storeLocationInput" class="form-control" placeholder="Enter Store name">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
      <app-map></app-map>

      <sebm-google-map-marker
        [latitude]="marker?.lat"
        [longitude]="marker?.lng"
        [label]="marker?.label"
        [markerDraggable]="marker?.draggable">

        <sebm-google-map-info-window>
          <p><strong>{{place?.name}}</strong></p>
          <p>{{place?.formatted_address}}</p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <div class="form-group">
     <a id="resetButton" class="form-control-inline btn btn-sm btn-danger" (click)="resetSelections()">Reset Selections</a>
    <h5><label for="productOptions"><b> Select Zero Waste products sold: </b></label></h5>
    <div class="scrollbox">
      <div *ngFor="let option of productOptions">
        <label>
          <input type="checkbox" name="options" (change)="onSelectedProduct()" value="{{option.name}}" [(ngModel)]="option.checked" />
          {{option.name}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="products"><b>Selected products:</b> {{selectedItems}}</label>
    <br>
    <label for="products"><b>Other products:</b></label>
    <input type="text" [(ngModel)]="otherItems" name="otherItems" placeholder="Other products not in list" class="form-control">
  </div>
  <div class="form-group text-right">
    <button type="submit" class="btn btn-lg btn-success">Add Store</button>
  </div>
</form>
<br/>
<h5>Store not found on google maps? <a [routerLink]="['/contact']">Contact us!</a></h5>
