<h2 class="page-header text-center">Add new store</h2>
<form (submit)="onAddStoreSubmit()">
  <div class="form-group">
    <h5><label for="storeLocationInput">Find Store</label></h5>
    <input type="text" id="storeLocationInput" class="form-control">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
      <app-map></app-map>

      <sebm-google-map-marker
        [latitude]="marker?.lat"
        [longitude]="marker?.lng"
        [label]="marker?.label"
        [markerDraggable]="marker?.draggable">

        <sebm-google-map-info-window>
          <!-- Fill in information about store -->
          <p><strong>{{place?.name}}</strong></p>
          <p>{{place?.formatted_address}}</p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <div class="form-group">
    <h5><label for="products">Zero waste products</label></h5>
    <input type="text" [(ngModel)]="products" name="products" placeholder="Zero waste foods available for purchase" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Add Store</button>
</form>
<br/>
<h5>Store not found on google maps? <a [routerLink]="['/contact']">Contact us!</a></h5>
