.sebm-google-map-container {
  height: 400px;
}

#storeLocationInput {
  margin-bottom: 20px;
}

.btn-success {
  background-color: #33b833;
}

.scrollbox {
  height:150px;
  overflow-y:scroll;
}

#resetButton {
  margin-bottom: 15px;
}