<nav class="navbar navbar-expand-lg navbar-light navbar-dark mt-4" style="background:transparent;height: 5vh">
    <h1 class="ml-5" href="#">ZW Store Finder</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-success primary-bg-color my-2 my-sm-0 mr-2" href="#aboutSection">About</a>
            </li>
            <div class="nav-item">
                <button class="btn btn-success primary-bg-color my-2 my-sm-0" [routerLink]="['/map']" [queryParams]="{lat: 52, lng: 13}">Map View</button>
            </div>
        </ul>
    </div>
</nav>