li > a {
  color: #ffffff;
}

.navbar-brand{
  font-size: 20px;
}

/* .navbar-collapse.collapse.show{
  background-color: pink;
} */

h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.btn{
  border-radius: 0;
  padding: 5px 30px;
}

.btn:hover{
  background-color: rgb(57, 146, 134);
}