li > a {
  color: #ffffff;
}

.navbar-brand {
  font-size: 20px;
}

.navbar-transparent {
  background: transparent;
  height: 5vh;
}

.navbar-collapse.collapse.show {
  background: rgba(0,0,0,0.1);
}

#page-title {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.btn {
  border-radius: 0;
  padding: 5px 30px;
}

.btn:hover {
  background-color: rgb(57, 146, 134);
}