/* You can add global styles to this file, and also import other style files */

body {
  font-size: 15px;
  background-color: inherit;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

html {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url("./assets/collage3.jpg") no-repeat center center fixed;
  background-size: cover;
}

.greenIcon {
  color: #33b833;
  margin-right: 5px;
}

.blueIcon {
  color: #4285F4;
  margin-right: 5px;
}

.pac-container {
  z-index: 1051 !important;
}

.primary-bg-color{
  background: #40A497;
}

.agm-info-window-content{
  color:black !important;
}