.description h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.description hr {
  width: 150px;
  height: 1px;
  border-top: 1px solid #E73931;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #fff;
}

#buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

#noResults {
  padding-top: 50px;
}

#storeQueryField {
  margin-bottom: 10px;
}

.query {
  max-width: 900px;
  margin: 40px auto;
}

.query input {
  height: 55px;
  border: 0px;
  border-radius: 3px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 20px;
}

.btn-search {
  height: 55px;
  padding: 0px 50px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  background-color: #40A497;
}

.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

.child {
  resize: vertical;
}

.form-control {
  border-radius: 0 !important;
}

.col-sm-6 {
  padding-right: 0 !important;
}

.col-sm-2 {
  padding-left: 0 !important;
  border-left: 1px solid #40A497;
}
