<app-navbar></app-navbar>
<div class="searchInput">
  <div class="child">
    <label for="storeFinderInput" class="col-sm-12 control-label text-center"></label>
    <div class="col-sm-12 text-center">
      <div class="description">
        <h1>Zero Waste Shop Finder</h1>
        <hr/>
        <span>Helping save the environment one search at a time</span>
      </div>
      <div class="query row"> 
        <div class="col-sm-6">
          <input type="text" name="storeFinderInput" [(ngModel)]="query" class="form-control input-lg" placeholder="Type Store name, Location or Product e.g. 'Dublin 7 or Rice'" required>
        </div>
        <div class="col-sm-2">
            <input type="text" id="searchLocal" name="searchLocal" [(ngModel)]="searchLocal" class="form-control input-lg" placeholder="Location" required>
        </div>
        <div class="col-sm-4 text-left">
            <button type="button" class="btn btn-search" [routerLink]="['/search']" [queryParams]="{query: query, location: searchLocal}">Find Stores</button>
        </div>
      </div>
    </div>
  </div>
</div> 