<app-navbar></app-navbar>
<div class="searchInput">
  <div class="child">
    <label for="storeFinderInput" class="col-sm-12 control-label text-center"></label>
    <div class="col-sm-12 text-center">
      <div class="description">
        <h1>ZW Store Finder</h1>
        <hr/>
        <span>Helping you save the environment one search at a time</span>
      </div>
      <div class="query row"> 
        <div class="col-sm-7">
          <input type="text" name="storeFinderInput" [(ngModel)]="query" class="form-control input-lg" placeholder="Type Store name, Location or Product" required>
        </div>
        <div id="location-input" class="col-sm-3">
            <input type="text" id="searchLocal" name="searchLocal" [(ngModel)]="searchLocal" class="form-control input-lg" placeholder="Location" required>
        </div>
        <div id="search-btn-container" class="col-sm-2 text-left">
            <button type="button" class="btn btn-search" [routerLink]="['/search']" [queryParams]="{query: query, location: searchLocal}">Find Stores</button>
        </div>
      </div>
      <!-- <div class="query row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-outline-success" [routerLink]="['/map']" [queryParams]="{lat: navigatorPosition?.lat, lng: navigatorPosition?.lng}">
              Stores Map
            </button>
          </div>
      </div> -->
    </div>
  </div>
</div>
<section id="aboutSection">
  <app-about></app-about>  
</section>
<section>
  <app-footer></app-footer>
</section>