<div class="searchInput">
  <div class="child">
    <label for="storeFinderInput" class="col-sm-12 control-label text-center"></label>
    <div class="col-sm-12 text-center">
      <div class="description">
        <h1>Zero Waste Shop Finder</h1>
        <hr/>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
      </div>
      <div class="query row"> 
        <div class="col-sm-6">
          <input type="text" name="storeFinderInput" [(ngModel)]="query" class="form-control input-lg" placeholder="Type Store name, Location or Product e.g. 'Dublin 7 or Rice'" required>
        </div>
        <div class="col-sm-2">
            <input type="text" id="searchLocal" name="searchLocal" [(ngModel)]="searchLocal" class="form-control input-lg" placeholder="Location" required>
        </div>
        <div class="col-sm-4 text-left">
            <button type="button" class="btn btn-search" [routerLink]="['/search']" [queryParams]="{query: query, location: searchLocal}">Find Stores</button>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div id="buttons" class="col-sm-12 text-center">
        <button id="mapBtn" (click)="toggleMap()" class="btn btn-success">{{btnText}}</button>
      </div>
    </div> -->

    <div class="row" *ngIf="showStoresOnMap">
      <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
        <agm-marker
            *ngFor="let m of allStores"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]=""
            [markerDraggable]="false"
            (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">

            <agm-info-window #infoWindow>
              <p><strong>{{m.name}}</strong></p>
              <p><strong>Address: </strong>{{m.address}}</p>
              <p><strong>Zero waste products: </strong>{{m.products}}</p>
              <a class="" [routerLink]="['/store', m.id]">More information</a>
            </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div> 