.card{
    color: black;
    background-color: #FFFFFF;
    border-radius: 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.sebm-google-map-container {
    height: 150px;
}