<div class="col-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{store.name}}</h4>
            <p class="card-text">
                <i class="fa fa-home blueIcon" aria-hidden="true"></i> Address: {{store.address}}
            </p>
            <p class="card-text">
                <i class="fa fa-leaf greenIcon" aria-hidden="true"></i> Zero Waste products:
                <b>{{store.products}}</b>
            </p>
            <div class="card-text">
                <p><i class="fa fa-clock-o blueicon" aria-hidden="true"></i>  Opening Hours <span *ngIf="!showMoreInfo"> Today: {{store.openingHours[dayIndex] || 'Not Available'}}</span></p>
                <div *ngIf="showMoreInfo">
                    <ul>
                        <li *ngFor="let entry of store.openingHours">{{entry}}</li>
                    </ul>
                    <agm-map [latitude]="marker.lat" [longitude]="marker.lng" [zoom]="zoom" [zoomControl]="true">
                        <agm-marker
                        [latitude]="marker.lat"
                        [longitude]="marker.lng"
                        [label]="marker.label"
                        [markerDraggable]="marker.draggable">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
            <a class="btn btn-sm btn-primary card-link" (click)="showMoreInfo = !showMoreInfo;">More information</a>
        </div>
    </div>
</div>