footer{
    width:100%;
    min-height:1%;
    color: #FFF;
    font-size: 15px;
}

#githubButton{
  background-color: #FFF;
  color: rgb(102,43,129);
}

#loginButton{
  background-color: #FFF;
  color: #0062cc;
}
.clear { clear: both; height: 50px; }
